<div class='row image-details-row'>
    <div class="col-sm-6 image-details-list">
        <table class='table table-hover fixed-header image-table'>
            <thead>
            <tr>
                <th>Timestamp</th>
                <th>Name</th>
                <th>Exp (s)</th>
                <th>Download</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(timestamp,image) in images" ng-click="handleClick(timestamp)">
                <td>{{timestamp | date:'MM/dd/yyyy HH:mm'}}</td>
                <td>{{image.imageFilename}}</td>
                <td>{{image.exposure}}</td>
                <td>
                    <a ng-show="image.downloaded" ng-href="{{image.tiffUrl}}" class="btn btn-sm fa fa-download"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6 image-details-image">
        <div class="row row-image-details-image-name">
            <div class="col-sm-12 col-image-details-image-name">
                <div class="image-details-image-name">{{selectedImageName}}</div>
            </div>
        </div>
        <div class="row row-image-details-image-adjust-box">
            <div id="image-details-adjust-box-sliders" class="col-sm-1 image-details-adjust-box-sliders">
                B
                <div id="selected-image-brightness-slider"></div>
                C
                <div id="selected-image-contrast-slider"></div>
            </div>
            <div class="col-sm-11 col-image-or-canvas">
                <span id="selected-image-canvas"></span>
            </div>
        </div>
    </div>
</div>
