<div class='row pcr-details-row'>
    <div class="col-md-2 pcr-details-selection-list">
        <div class="panel-group" id="pcr-accordion">
            <div class="panel panel-default" ng-repeat="(pcrType,pcrObject) in pcrTree">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#pcr-accordion" href="#pcr-collapse-{{pcrType}}">
                            {{pcrType}}
                        </a>
                    </h5>
                </div>
                <div id="pcr-collapse-{{pcrType}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel-group" id="pcr-accordion-{{pcrType}}">
                            <div class="panel panel-default" ng-repeat="(columnName,timeObject) in pcrObject">
                                <div class="panel-heading">
                                    <h6 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#pcr-accordion-{{pcrType}}"
                                           href="#pcr-collapse-{{pcrType}}-{{columnName | htmlIDConverter}}">
                                            {{columnName}}
                                        </a>
                                    </h6>
                                </div>
                                <div id="pcr-collapse-{{pcrType}}-{{columnName | htmlIDConverter}}"
                                     class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="pcr-date-list">
                                            <li ng-repeat="(epochMillis,varObject) in timeObject">
                                                <label class="checkbox pcr-date-list-item-label">
                                                    <input type="checkbox"
                                                           value="checkbox-{{deploymentID}}-pcr-{{pcrType}}-{{columnName}}-{{epochMillis}}"
                                                           ng-click="selectPCRObject($event)">
                                                    {{epochMillis | date:'MM/dd/yy HH:mm'}}
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="pcr-graph-column" class="col-md-10">
        <div class="btn-toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs"
                        ng-click="changeAxes('cycle')">#
                </button>
                <button type="button" class="btn btn-default btn-xs"
                        ng-click="changeAxes('temperature')">T
                </button>
                <button type="button" class="btn btn-default btn-xs"
                        ng-click="changeAxes('derivative')">df/dt
                </button>
            </div>
        </div>
        <div id="pcr-details-graph" class="pcr-details-graph"></div>
    </div>
</div>
