<div class='row pcr-details-row'>
    <div class="col-md-2 pcr-details-selection-list">
        <div class="panel-group" id="pcr-accordion">
            <div class="panel panel-default" ng-repeat="(pcrType,pcrObject) in pcrTree">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#pcr-accordion" href="#pcr-collapse-{{pcrType}}">
                            {{pcrType}}
                        </a>
                    </h4>
                </div>
                <div id="pcr-collapse-{{pcrType}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="(runName,timeObject) in pcrObject">
                                {{runName}}
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="(epochMillis,varObject) in timeObject">
                                        {{epochMillis | date:'MM/dd/yy'}}
                                        <div ng-repeat="(varName,varData) in varObject">
                                            <label class="checkbox">
                                                <input type="checkbox"
                                                       value="checkbox-{{deploymentID}}-pcr-{{pcrType}}-{{runName}}-{{epochMillis}}-{{varName}}"
                                                       ng-click="selectPCRObject($event)">
                                                {{varName}}
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="pcr-graph-column" class="col-md-10">
        <div class="btn-toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs"
                        ng-click="changeAxes('cycle')">#</button>
                <button type="button" class="btn btn-default btn-xs"
                        ng-click="changeAxes('temperature')">T</button>
                <button type="button" class="btn btn-default btn-xs"
                        ng-click="changeAxes('derivative')">df/dt</button>
            </div>
        </div>
        <div id="pcr-details-graph" class="pcr-details-graph"></div>
    </div>
</div>
