<div class='protocol-details-table'>
    <table class='table table-bordered fixed-header protocol-table'>
        <thead>
        <tr>
            <th class="protocol-run-date-col">Date and Time</th>
            <th class="protocol-run-name-col">Name</th>
            <th class="protocol-run-volume-col">Target<br/>Vol (ml)</th>
            <th class="protocol-run-actor-col">Run By</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="protocolRun in protocolRuns| convertTSItemsToArray:'desc'">
            <td class="protocol-run-date-col">{{protocolRun.timestamp | date:'MM/dd/yyyy HH:mm:ss Z'}}</td>
            <td class="protocol-run-name-col">{{protocolRun.name}}</td>
            <td class="protocol-run-volume-col">{{protocolRun.targetVol}}</td>
            <td class="protocol-run-actor-col">{{protocolRun.actor}}</td>
        </tr>
        </tbody>
    </table>
</div>
