# This is the environment variable definition file for the ESP applications and services

# This is the absolute path to the local directory on the Docker host that will be used as the base directory for all
# the various services.  It is NOT used inside the container
ESP_APPS_BASEDIR_HOST=

# This is the directory inside the docker container (or local to the environment running the web portal) where all the
# various services will keep their data and log files.
ESP_APPS_BASEDIR=/data

# This specifies the base portion of the server URL where the application can be found
ESP_APPS_HOST_BASE_URL=http://localhost

# This is the port that the web application will be listen on for client requests.   It defaults to 8081
ESP_APPS_PORT=8081

# CouchDB connection variables
ESP_APPS_COUCH_HOST=localhost
ESP_APPS_COUCH_PORT=5984
ESP_APPS_COUCH_SSL=false
ESP_APPS_COUCHDB_USERNAME=espadm
ESP_APPS_COUCHDB_PASSWORD=espadmpw
ESP_APPS_COUCH_DATABASE=esp

# This is the superuser username and database for the postgres database server
ESP_APPS_POSTGRES_USER=
ESP_APPS_POSTGRES_DB=

# PostgreSQL database connection variables
ESP_APPS_PG_HOST=localhost
ESP_APPS_PG_PORT=5432
ESP_APPS_PG_USERNAME=espadm
ESP_APPS_PG_PASSWORD=espadmpw
ESP_APPS_PG_DATABASE=esp_ancillary
#ESP_APPS_PG_PROTOCOL=postgres

# The Webhook URL for the Slack posting service
ESP_APPS_EVENT_HANDLER_SLACK_WEBHOOK_URL=

# ---------------------------------------------------------------------------------------------------------------------
# The following environment variables are optional and can be uncommented and changed to override the defaults
# ---------------------------------------------------------------------------------------------------------------------

# To specify a different log file directory (default is ESP_APPS_BASEDIR_HOST/logs/server)
#ESP_APPS_LOG_DIRECTORY=

# This is the directory where log files will be written temporarily while they are parse. Defaults to
# ESP_APPS_BASEDIR_HOST/data/tmp
#ESP_APPS_TEMP_DIR=

# This is how often the log parser will look for file changes in remote FTP servers.  It defaults to 60000 (60 seconds)
#ESP_APPS_FTP_SYNC_INTERVAL_MILLIS=

# This specifies the number of data points to batch together for inserts into the PostgreSQL database. Defaults to 1000.
#ESP_APPS_NUM_ANCILLARY_POINT_TO_BATCH=

# These are all logging levels that can be defined for the various components.  They all default to 'info'.
#ESP_APPS_CRAWLER_LOGGER_LEVEL=
#ESP_APPS_SERVER_LOGGER_LEVEL=
#ESP_APPS_APP_SERVER_LOGGER_LEVEL=
#ESP_APPS_USER_ROUTER_LOGGER_LEVEL=
#ESP_APPS_ESP_ROUTER_LOGGER_LEVEL=
#ESP_APPS_DEPLOYMENT_ROUTER_LOGGER_LEVEL=
#ESP_APPS_ANCILLARY_DATA_ROUTER_LOGGER_LEVEL=
#ESP_APPS_DATASTORE_LOGGER_LEVEL=
#ESP_APPS_DEPLOYMENT_FILE_SYNC_LOGGER_LEVEL=
#ESP_APPS_LOG_PARSER_LOGGER_LEVEL=
#ESP_APPS_EVENT_HANDLER_LOGGER_LEVEL=
