<ion-view hide-nav-bar="true" hide-back-button="true">
    <ion-content scroll="false">
        <div id="deployment-selector" class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Deployment
                </div>
                <select>
                    <option selected>Select Deployment</option>
                    <option ng-repeat="deploymentName in deploymentNames">{{deploymentName}}</option>
                </select>
            </label>
        </div>
        <div id="map"/>
    </ion-content>
</ion-view>