/* Empty. Add your own CSS if you like */
#deployment-selector {
    height: 8%;
    margin-bottom: 0px;
}
#map {
    height: 92%;
    /*width: 100%;*/
    padding: 10px;
}

/*.scroll {*/
    /*height: 100%;*/
/*}*/