# This is the environment variable definition file for the supporting services run with the docker-compose.yml file

# This is the absolute path to the local directory on the Docker host that will be used as the base directory for all
# the various services.  It is NOT used inside the container
ESP_APPS_BASEDIR_HOST=

# CouchDB connection variables
COUCHDB_USER=
COUCHDB_PASSWORD=

# PostgreSQL default passwords and usernames
POSTGRES_PASSWORD=
ESP_APPS_PG_USERNAME=
ESP_APPS_PG_PASSWORD=
