<!DOCTYPE html>
<html ng-app="espApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
    <title>ESP Web Application</title>

    <!-- Any appropriate stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="css/esp-responsive.css"/>

    <!-- HTML 5 Shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
    <script src="lib/html5shiv.js"></script>
    <script src="lib/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-cloak>

<!-- The selection and graph panel row -->
<div id="container-main" class="container-fluid">
    <div id="row-one" class="row">
        <div id="col-nav" class="col-sm-2" ng-controller="SelectionController">
            <div id="panel-nav" class="panel panel-default">
                <div id="panel-body-nav" class="panel-body">
                    <div id="deployment-dropdown-btn-group" class="btn-group">
                        <button id="deployment-dropdown-btn" class="btn btn-default btn-sm dropdown-toggle"
                                type="button" data-toggle="dropdown">{{ selectedDeploymentName }} <span
                                class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="name in deploymentNames" ng-click="selectDeployment($index)">
                                <a tabindex="-1" href="#">{{name}}</a>
                            </li>
                        </ul>
                    </div>
                    <div id="selection-accordion" class="panel-group">
                        <div class="panel panel-default" ng-repeat="deployment in selectedDeployments">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse"
                                       data-parent="#selection-accordion"
                                       href="#collapse{{$index}}">
                                        {{deployment.esp.name}}
                                    </a>
                                    <a target="_blank"
                                       href="/deployments/{{deployment._id}}?returnSummary=true"
                                       class="btn btn-sm icon-download-alt"></a>
                                </h4>
                            </div>
                            <div id="collapse{{$index}}" class="panel-collapse collapse selection-list">
                                <div class="panel-body">
                                    <label class="checkbox">
                                        <input type="checkbox"
                                               value="checkbox-{{deployment._id}}-protocolRuns"
                                               ng-model="selectionObjects['checkbox-' + deployment._id + '-protocolRuns']"
                                               ng-click="selectObject($event)">
                                        Protocol Runs
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox"
                                               value="checkbox-{{deployment._id}}-samples"
                                               ng-model="selectionObjects['checkbox-' + deployment._id + '-samples']"
                                               ng-click="selectObject($event)">
                                        Samples
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox"
                                               value="checkbox-{{deployment._id}}-images"
                                               ng-model="selectionObjects['checkbox-' + deployment._id + '-images']"
                                               ng-click="selectObject($event)">
                                        Images
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox"
                                               value="checkbox-{{deployment._id}}-errors"
                                               ng-model="selectionObjects['checkbox-' + deployment._id + '-errors']"
                                               ng-click="selectObject($event)">
                                        Errors
                                    </label>
                                    <label ng-show="deployment.pcrsExist" class="checkbox">
                                        <input ng-show="deployment.pcrsExist" ng-if="false" type="checkbox"
                                               value="checkbox-{{deployment._id}}-pcrs"
                                               ng-model="selectionObjects['checkbox-' + deployment._id + '-pcrs']"
                                               ng-click="selectObject($event)">
                                        PCRs
                                    </label>

                                    <!-- Now attach sections for Ancillary Data if available -->
                                    <div ng-repeat="(key, value) in deployment.ancillaryData">
                                        <hr/>
                                        <div class="ancillary-data-key">{{key}} <a target="_blank"
                                                                                   href="/data/instances/{{deployment.esp.name}}/deployments/{{deployment.name}}/data/processed/{{key}}.csv"
                                                                                   class="btn btn-sm icon-download-alt"></a>
                                        </div>
                                        <label class="checkbox"
                                               ng-repeat="(key2,value2) in deployment.ancillaryData[key]">
                                            <input type="checkbox"
                                                   value="checkbox-{{deployment._id}}-ancdata-{{value2.sourceID}}"
                                                   ng-model="selectionObjects['checkbox-' + deployment._id + '-ancdata-' + value2.sourceID]"
                                                   ng-click="selectObject($event)">
                                            {{value2.varName}}
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="col-graph" class="col-sm-10" ng-controller="GraphPanelController">
            <div id="panel-graph" class="panel panel-default">
                <div id="panel-body-graph" class="panel-body">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs icon-minus"
                                    ng-click="changePlot('lines')"></button>
                            <button type="button" class="btn btn-default btn-xs icon-ellipsis-horizontal"
                                    ng-click="changePlot('points')"></button>
                        </div>
                    </div>
                    <div id="graph"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- The details panel row -->
    <div id="row-two" class="row">
        <div id="col-detail" class="col-xs-12" ng-controller="DetailPanelController">
            <div id="panel-detail" class="panel panel-default">
                <div id="panel-body-detail" class="panel-body">
                    <tabset>
                        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active"
                             disabled="tab.disabled">
                            <div ng-include="tab.content"></div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Import the JavaScript -->
<script src="lib/date.format.js"></script>
<script src="lib/jquery-1.10.2.min.js"></script>
<script src="lib/jquery-ui.min.js"></script>
<script src="lib/highstock.js"></script>
<!--<script src="lib/exporting.js"></script>-->
<script src="lib/bootstrap.min.js"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/ui-bootstrap-tpls-0.6.0.min.js"></script>
<script src="lib/glfx.js"></script>
<script src="js/app.js"></script>
<script src="js/services/ESPAppCoordinator.js"></script>
<script src="js/services/DeploymentData.js"></script>
<script src="js/filters.js"></script>
<script src="js/controllers/SelectionController.js"></script>
<script src="js/controllers/GraphPanelController.js"></script>
<script src="js/controllers/DetailPanelController.js"></script>
<script src="js/directives/ProtocolDetails.js"></script>
<script src="js/directives/SampleDetails.js"></script>
<script src="js/directives/ImageDetails.js"></script>
<script src="js/directives/ErrorDetails.js"></script>
<script src="js/directives/PCRDetails.js"></script>
</body>
</html>